import { useEffect } from "react";
import { STORE } from "@/store";
import { {{EntityName}}FormModal } from "./form";
import { Filter } from "./filter";
import { Action } from "./action";
import { Table } from "./table";

export function {{EntityName}}() {
  const { fetch{{EntityName}}s } = STORE.{{EntityName}}Store.useBase();

  useEffect(() => {
    fetch{{EntityName}}s();
  }, []);

  return (
    <div className="{{EntityName}} flex-1 p-6">
      <div className="mb-4 flex justify-between items-center gap-4">
        <Filter />
        <Action />
      </div>
      <Table />
      <{{EntityName}}FormModal />
    </div>
  );
}
